
            <div class="container-fluid">
                <div class="side-body">
                    <div class="page-title">
                        <span class="title">Registration</span>
                        <div class="description">Last Updated</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                        <div class="card blue summary-inline">
                                    <div class="card-body">
                                        <i class="icon fa fa-inbox fa-4x"></i>
                                        <div class="content">
                                            <div class="title"><%= Hacker.count %></div>
                                            <div class="sub-title">Registrants</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-xs-2">
                        <div class="card yellow summary-inline">
                                    <div class="card-body">
                                        <i class="icon fa fa-inbox fa-4x"></i>
                                        <div class="content">
                                            <div class="title"><%= Status.where(:status => "Accepted").count %></div>
                                            <div class="sub-title">Invited</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-xs-2">
                        <div class="card green summary-inline">
                                    <div class="card-body">
                                        <i class="icon fa fa-inbox fa-4x"></i>
                                        <div class="content">
                                            <div class="title"><%= Status.where(:decision => "Joined").count %></div>
                                            <div class="sub-title">Accepted</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">

                                    <div class="card-title">
                                    <div class="title">Hackers</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="datatable table table-striped" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>School</th>
                                                <th>Gender</th>
                                                <th>Major</th>
                                                <th>Class Year</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>School</th>
                                                <th>Gender</th>
                                                <th>Major</th>
                                                <th>Class Year</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <% @hackers.each do |hacker| %>
                                            <tr>
                                                <td><%= link_to "#{hacker.first_name} #{hacker.last_name}", hacker %></td>
                                                <td><%= "#{hacker.email}" %></td>
                                                <td><%= "#{hacker.school}" %></td>
                                                <td><%= "#{hacker.gender}" %></td>
                                                <td><%= "#{hacker.major}" %></td>
                                                <td><%= "#{hacker.graduation_date}" %></td>
                                            </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--         <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right">2.0 <a href=""><i class="fa fa-long-arrow-up"></i></a></span> © 2015 Copyright.
            </div>
        </footer> -->
    <!-- Javascript Libs -->

